:root {
    --bs-blue: #0483aa;
    --bs-black: #282A35;
    --bs-pink: #c49297;
    --bs-white: #ffffff;
    --bs-neoWhite: #E7E9EB;
}

* {
    box-sizing: border-box;
}

title {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    zoom:150%;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

header {
    height: 80px;
    background-color: var(--bs-white);
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.btn {
    padding: 10px;
    cursor: pointer;
}

.bg-green {
    background-color: var(--bs-blue);
    color:var(--bs-white);
}

.bg-black {
    background-color: var(--bs-black);
    color:var(--bs-white);
}

.header-left {
    display: flex;
    align-items: right;
    height: 75%;
}

.menu-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 550;
    color: var(--bs-black);
    cursor: pointer;
    border-radius: 60px;
}

.header-left .menu-btn:hover {
    background-color: var(--bs-blue);
    color: white;
    
}

.header-left .menu-btn:first-child {
    padding: 1;

}

.header-left .menu-btn:first-child:hover {
    background-color: transparent;

}

.fa-solid {
    padding: 0px 3px;

}

.settings-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;    
    margin-right: 20px;
    gap: 25px;
}

.settings-toggle {
    display: none;
}

.settings-btn {
    cursor: pointer;
}

.settings-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.settings-toggle:checked + .settings-btn + .settings-dropdown {
    display: block;
}

.settings-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.settings-dropdown ul li {
    padding: 10px;
}

.settings-dropdown ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.settings-dropdown ul li a:hover {
    color: var(--bs-blue)
}

#Tutorial-btn,
#presentations-btn,
#websites-btn {
    display: none;
}

#Menu-btn-Mobile {
    display: flex;
}

/*****responsive********/
@media all and (min-width:650px) {

    #Tutorial-btn,
    #references-btn,
    #presentations-btn,
    #websites-btn {
        display: flex;
    }

    #Menu-btn-Mobile {
        display: none;
    }
}

@media all and (min-width:850px) {

    #Tutorial-btn,
    #presentations-btn,
    #websites-btn {
        display: flex;
    }

    #Menu-btn-Mobile {
        display: none;
    }
}

@media all and (min-width:1000px) {
    .header-right a:last-child {
        padding: 10px 25px;
        text-align: justify;

    }
}

/*****************************mobile-menu-container*******************/
.mobile-menu-container {
    /* height: 650px; */
    background-color: var(--bs-neoWhite);
    display: none;
    position: absolute;
    width: 100%;
    z-index: 50;
    color: red;
    box-sizing: border-box;
}

.mobile-menu-container ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.mobile-menu-container ul a {
    padding-bottom: 20px;
}

.mobile-menu-container ul div {
    padding-bottom: 20px;
}

.menu-btn-mobile_menu {
    color: var(--bs-black);
    text-decoration: none;
    font-size: 25px;
    font-weight: 550;

}

.mobile-menu-close-btn {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border: none;
}

.mobile-menu-close-btn button {
    border: none;
    background-color: transparent;
}

.mobile-menu-close-btn i {
    font-size: 22px;
}

.mobile-menu-nav-hidden {
    display: flex;
    flex-direction: column;
}

@media all and (min-width:850px) {

    /* .mobile-menu-container{
        display: none;
    } */
    .mobile-menu-nav-hidden {
        display: none;
    }
}

/**************************nested-navigation-container**************************/
.nested-navigation-container {
    background-color: var(--bs-black);
    color: white;
    position: absolute;
    width: 100%;
    padding-bottom: 50px;
    display: none;
    z-index: 30;
}

@media all and (min-width:850px) {
    .nested-navigation-container {
        display: block;
    }
}

.nested-navigation_container_close-btn {
    position: absolute;
    right: 0;

}

.nested-navigation_container_close-btn button {
    font-size: 30px;
    padding: 30px;
    background-color: transparent;
    border: none;
    color: var(--bs-white);
    cursor: pointer;
}

.nested-navigation_container_close-btn button:hover {
    background-color: var(--bs-white);
    color: var(--bs-black)
}

.nested-navigation-container_content {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.nested-navigation-container_content h1 {
    margin: 0;
    color: var(--bs-pink);
}

.nested-navigation-container_content_data {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.nested-navigation_item {
    margin-right: 20px;
}

.nested-navigation_item h2 {
    color: var(--bs-pink);
    margin-top: 35px;
}

.nested-navigation_item a {
    display: block;
    color: rgb(212, 208, 208);
    font-size: 18px;
    text-decoration: none;
    font-weight: 550;
    padding: 5px 7px;
}

.nested-navigation_item a:hover {
    background-color: var(--bs-neoWhite);
    color: var(--bs-black);
}

.nested_navigation_hidden {
    display: none;
}

/***********utitlity text class*****/
.text-white {
    color: var(--bs-white);

}

section {
    margin: 0px;
    padding: 0px;
}

svg {
    margin: 0;
    padding: 0;
}

/****************************************************************************************************/
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    animation: slideIn 2s ease;
}

h1 {
    color: #333;
    text-align: relative;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}